body {
  font-family: sans-serif;
  margin: 0;
}

main {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.main-header {
  color: white;
  font-size: larger;
  margin-bottom: 0.5em;
}

.nav-header-auth-container {
  display: flex;
  flex-direction: row;
  background-color: darkgreen;
  padding: 0.5em;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav-links > :not(:last-child) {
  padding-right: 1em;
}

.main-nav-links__link {
  color: lightgreen;
  text-decoration: none;
}

.main-nav-links__link--selected {
  color: beige;
}

.main-nav-links > a:hover, .main-nav-links > a:active,
.main-nav-links > a:focus {
  color: white;
}

.main-title {
  color: green;
}

.auth-widget-dropdown {
  position: absolute;
  right: 0.5em;
}

.auth-widget-nav {
  display: flex;
  justify-content: flex-end;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.account-form {
  margin-top: 0.25em;
  display: flex;
  flex-direction: column;
  max-width: 10em;
}

.radio-group {
  border: solid;
  display: flex;
  flex-direction: column;
}

.auth-widget-icon {
  border: solid;
  border-color: lightgreen;
  width: 3em;
  height: 3em;
}

.auth-widget-icon:hover {
  border-color: white;
}

.auth-widget-icon__figure {
  stroke: green;
}

.auth-widget-icon__figure--hollow {
  fill: white;
}

.auth-widget-icon__figure--filled {
  fill: green;
}